
<div class="container">
  <div style="background-color :cornflowerblue;">
<app-header></app-header>
</div>
  <div>
    <h1 style="text-align: center; margin-top: 10px;"> Your Profile</h1>
  </div>
  <div class="row" style="margin-top: 50px;" >
  <div class="col-lg-4">
   <div>
   <img src="{{ImageBaseString}}"   style="height: 200px; width: 220px;">
     <input type="file"
     style="display:none;"
     accept="image/*"
     #fileUploder
     (change)="showpreview($event)">


      <br>
     <br>
      <button  type="button" class="btn btn-primary" label="Edit Photo" style="margin-right: 30px;" (click)="fileUploder.click()" >Edit Photo</button>
      <button  type="button" class="btn btn-primary" label="Edit Profile" (click)="onEdit()">Edit Profile</button>
    </div>
</div>

<div class="col-lg-8" >
     <div style="margin-top: 10px;">

    <P>I'm {{userData.FirstName}} {{userData.LastName}}
      and I am above {{userData.Age}} years.
     <p> you can send your emails to {{userData.Email}}.
      I live in the state of {{userData.State}}.
     <p> I like to {{userData.tags}} and reading books.</p>
        <p *ngIf=userData.Subscribe>Please send me newsletters</p>
       <p> Please reach out to me on my phone number {{userData.Phone}}</p>

  </div>
  </div>
</div>
<div  class="text-center bg-dark" style="font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; color: aliceblue;height: 300px; margin-top: 200px;">
  <p style="padding-top: 150px;"> Subscribe to our Job Seeker Mailing List<p>
             <br>
             <span class="p-input-icon-right">
              <i class="pi pi-envelope"></i>
              <input type="email"  pInputText placeholder="Enter Your Email Address" style="width: 500px;">
          </span>
 </div>
</div>

