<form [formGroup]="registration" (ngSubmit)="Save()">
<div class="row">
    <div class="col-md-4 ml-auto">

        <img [src]="imgSrc" *ngIf ="imgSrc "height="150" width="140" (click)="fileUploader.click()">
      <input type="file"
              style="display: none;"
              #fileUploader
              formControlName="Image"
              (change)="showPreview($event)"
              [ngClass]="{ 'is-invalid': submitted && f.Image.errors }" >
              <br>
              <label style="color :cornflowerblue;">upload your photo</label>
              <div *ngIf="submitted && f.Image.errors" class="invalid-feedback">
               <div *ngIf="f.Image.errors.required">Image is required</div>
              </div>
              <div [innerHtml]="msg" *ngIf="msg" style="color: red;"></div>

    </div>


    <div class="col-md-8 ml-auto">
      <div class="row" >
        <div class="col">
          <input type="text"
           class="form-control"
            placeholder="First name"
             formControlName="FirstName"
             [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" >
             <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
              <div *ngIf="f.FirstName.errors.required">First Name is required</div>
              <div *ngIf="f.FirstName.errors.pattern">Please enter valid Name</div>
              <div *ngIf="f.FirstName.errors.maxlength">maximum 20 character allowed</div>
          </div>
          </div>

          <div class="col">
            <input type="text"
            class="form-control"
            placeholder="Last name"
            formControlName="LastName"
            [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" >

            <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
             <div *ngIf="f.LastName.errors.required">Last Name is required</div>
             <div *ngIf="f.LastName.errors.pattern">Please enter valid Name</div>
             <div *ngIf="f.LastName.errors.maxlength">maximum 20 character allowed</div>
             </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <input type="email"
         id="exampleInputEmail1"
         aria-describedby="emailHelp"
         formControlName="Email"
         placeholder="email"
         class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.Email.errors } " >
         <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
          <div *ngIf="f.Email.errors.required">Last Name is required</div>
          <div *ngIf="f.Email.errors.email">Please enter valid Email</div>
          </div>
      </div>
      <br>
      <div class="form-group">
        <input type="tel"
        formControlName="Phone"
        placeholder="1234-567-890"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" >
        <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
         <div *ngIf="f.Phone.errors.required">Last Name is required</div>
         <div *ngIf="f.Phone.errors.maxlength">Please enter 10 Digit Mobile Number</div>
         <div *ngIf="f.Phone.errors.minlength">Please enter valid mobile number</div>

         </div>
      </div>
      <br>
      <div class="row">
        <div class="col-1">
        <label for="age">Age</label>
        </div>
          <div class="col-11">
        <ngx-slider
          formControlName="Age"
          [options]="options"
        [ngClass]="{ 'is-invalid': submitted && f.Age.errors }">
        </ngx-slider>
      <div *ngIf="submitted && f.Age.errors" class="invalid-feedback">
        <div *ngIf="f.Age.errors.min">age must be above 19</div>


    </div>
      </div>
      </div>
       <br>
      <div class="form-group">
        <select class="form-select" formControlName="Country"
        (change)="onSelect($event)" [ngClass]="{ 'is-invalid': submitted && f.Country.errors }">
  <option value="" disabled selected >Select Country</option>
          <option *ngFor="let
            c of Contries"
            value="{{c.id}}">
            {{c.name}}
           </option>
      </select>
      <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
        <div *ngIf="f.Country.errors.required">Please select Country</div>
    </div>
    </div>
    <br>
    <div class="form-group">
      <select class="form-select" formControlName="State"  [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
        <option value="" disabled selected>Select State</option>
        <option *ngFor="let s of
        state">{{s.name}}</option>
    </select>
    <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
      <div *ngIf="f.Country.errors.required">Please select State</div>
  </div>
      </div>
       <br>
       <div class="form-group ">
        <p-cascadeSelect
        [options]="Address"
        optionLabel="cname"
        optionGroupLabel="name"
        [optionGroupChildren]="['Add']"
        formControlName="address"
        placeholder="Select Address"
        [style]="{'minWidth': '14rem' }"
        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
      </p-cascadeSelect>
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Please select Address</div>
    </div>
    </div>
    <br>
    <div class="form-group">
    <p-chips
    formControlName="tags"
    placeholder="your hobbies"
    [ngClass]="{ 'is-invalid': submitted && f.tags.errors }">
    </p-chips>
    <br>
    <div *ngIf="submitted && f.tags.errors" class="invalid-feedback">
      <div *ngIf="f.tags.errors.required">Please Enter your hobbies</div>
      <div *ngIf="f.tags.errors.pattern">Please Enter valid data</div>

  </div>
    </div>
    <br>

      <div class="form-group form-check">
        <input class="form-check-input"
        type="checkbox"
        id="checkbox"
        formControlName="Subscribe" >
        <label class="form-check-label" for="checkbox">
          Subscribe for newsletter
        </label>
        </div>
        <div class="d-flex justify-content-end align-items-end mt-2">
        <button pButton type="submit"
        label="Save">
       </button>
        </div>
      </div>
</div>
</form>
